<div class="photo-container">
  	<div class="action-bar" ng-if="image!=null">
  		<button class="btn btn-warning"  ng-click="resetApp()">Start Over</button>
  	</div>
  	
  	<div class="thumb-wrapper">
        <img class="thumb" ng-src="{{image}}" ng-if="image!=null"/>
    </div>
    
    Pick an image-file: <input type="file" ng-model="image" accept="image/*" app-filereader />
    
</div>

<div class="sticker-container">
  <button class="btn btn-primary btn-sticker"  ng-click="openModal()">Upload new sticker</button>
  <div class="sticker" ng-repeat="sticker in stickers track by $index">
    <img class="sticker-thumb" ng-src="{{sticker.img}}" data-drag="true" jqyoui-draggable/>
    <p>{{sticker.title}}</p>
  </div>
</div>
